<div id="<%= dom_id delivery %>">
  <p>
    <strong>Manifest:</strong>
    <%= delivery.manifest %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= delivery.delivery_date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= delivery.customer_id %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= delivery.assigned_to_id %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= delivery.destination_id %>
  </p>

  <p>
    <strong>Is complete:</strong>
    <%= delivery.is_complete %>
  </p>

</div>
